.noSelected {
    background-color: #c5a9a1;
    color: #ffffff;
    font-size: 20px;
    margin: 1px;
    height: 4rem;
    width: 4rem ;
}

.selected {
    background-color: #007bff;
    /* background-color: #c5a9a1; */
    color: #fff;
    font-size: 20px;
    margin: 2px;
    height: 4rem;
    width: 4rem ;
}