.cel {
    align-content: center;
    align-items: center;
  
  }
  
.noSelected {
    background-color: #c5a9a1;
    color: #cac0bd;
    font-size: 20px;
    margin: 1px;
    height: 4rem;
    width: 4rem ;
}

.selected {
    background-color: #007bff;
    /* background-color: #c5a9a1; */
    color: #fcfcfc;
    font-size: 20px;
    font-weight: bold;
    margin: 1px;
    height: 4rem;
    width: 4rem ;
}